In [1]:
import pandas as pd
import seaborn as sns; sns.set()
import matplotlib.pyplot as plt

import matplotlib
matplotlib.rcParams['figure.figsize'] = (16, 8)

In [3]:
def indiceDesemprego(codigoBcb):
  url = 'https://api.bcb.gov.br/dados/serie/bcdata.sgs.{}/dados?formato=json'.format(codigoBcb)
  df = pd.read_json(url)
  df['data'] = pd.to_datetime(df['data'], dayfirst = True)
  df.set_index('data', inplace = True)
  return df

In [4]:
desemprego = indiceDesemprego(24369)
desemprego

            valor
data
2012-03-01    8.0
2012-04-01    7.8
2012-05-01    7.7
2012-06-01    7.6
2012-07-01    7.5
...           ...
2022-05-01    9.8
2022-06-01    9.3
2022-07-01    9.1
2022-08-01    8.9
2022-09-01    8.7

[127 rows x 1 columns]

In [6]:
desempregoTratado = desemprego.filter(items=['data', 'valor'])
desempregoTratado

            valor
data
2012-03-01    8.0
2012-04-01    7.8
2012-05-01    7.7
2012-06-01    7.6
2012-07-01    7.5
...           ...
2022-05-01    9.8
2022-06-01    9.3
2022-07-01    9.1
2022-08-01    8.9
2022-09-01    8.7

[127 rows x 1 columns]

In [7]:
desempregoTratado.to_csv('desemprego.csv')